body {
    font-family: sans-serif;
}
#wrapper {
    position: relative;
    top: 15px;
    left:100px;
    width: 550px;
}

#maingrid {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 480px;
    width: 520px;
}

.row {
    margin:0;
    height:12px;
}

.cell {
    width: 11px;
    height: 12px;
    background: white;
    border: 1px solid black;
    display: inline-block;
    margin: 0;
}

.live {
    background:#2B547E;
}